<footer class="bg-dark text-light py-4">
    <div class="container text-center">
      <p class="mb-0">&copy; 2025 DreamCraft.dev. All Rights Reserved.</p>
      <p class="mb-0">Follow us: 
       
        <a href="https://www.linkedin.com/in/tejas-surse-a1b651256/?originalSubdomain=in" class="text-light mx-3" target="_blank"><i class="bi bi-linkedin display-5"></i></a>
        <a href="https://github.com/TejasSurse" class="text-light mx-3" target="_blank"><i class="bi bi-github display-5"></i></a>
        <a href="https://wa.me/93224554304" class="text-light mx-3" target="_blank"><i class="bi bi-whatsapp display-5"></i></a>
        <a href="https://www.instagram.com/tejas_patil_0303/" class="text-light mx-3" target="_blank"><i class="bi bi-instagram display-5"></i></a>
      </p>
    </div>
  </footer>